<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webnotics.swipee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".UrlManager.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup">
        <activity
            android:name=".activity.AppointmentDetail"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme"/>
        <activity
            android:name=".activity.company.FeaturedPlan"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />

        <meta-data
            android:name="com.facebook.sdk.Application"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <activity
            android:name=".call.VideoActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity
            android:name="com.webnotics.swipee.call.AudioActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity android:name=".activity.Seeker.FirstVideoActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".activity.AppointmentAction"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.JobPostRule"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.webnotics.swipee.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.CompanyProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.CreateAppointment"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.RescheduleAppointment"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.CompanyNearBy"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.CompanyEditProfile"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.CompanyHomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.ForgotPassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Seeker.JobListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.JobDetail"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.ContactUsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddJobPreferences"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddEducation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.WorkExperience"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddSkillActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddCarrierObjectiveActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Seeker.AddCityActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddStateActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.EditProfileActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AppoimentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.FeaturedJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AppliedJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.MatchedCompanyActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.LikedJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.SeekerHomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.Seeker.SavedJobsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BasicInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Seeker.AddCollegeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddDegreeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddJobLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.AddDesiredIndustryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.Seeker.SearchIndustryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.CompanyAppoimentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.LikedUserActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.MatchedUserActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.PostedJobActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.UserDetail"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.JobPreview"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.videoPlayerActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.Seeker.AddLanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />
        <activity
            android:name=".activity.company.AddIndustryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SocialSignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.company.NotificationAppointmentAction"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/basictheme" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.MyIntentService"
            android:exported="false" />
        <service android:name=".services.CollegeIntentService"
            android:exported="false" />

        <!-- Razor Pay Activity -->
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <!-- Api key RazorPay -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ZdPTfUwLdH0Amr" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>